<div class=" explore-more container-fluid text-center">
  <h1>Explore more about our page here.</h1>
  <p>Explore more about us by visiting our farm house and by being in touch of this site</p>
</div>